apiVersion: v1
kind: Service
metadata:
  name: ingestion-service
  namespace: clinical-agent
spec:
  selector:
    app: ingestion-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
